<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">More About Me</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
        {% include tiles.html %}
    </div>
    <div class="alt">
    <div class="inner">
    <blockquote>"You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots will somehow connect in your future. You have to trust in something - your gut, destiny, life, karma, whatever" <br><br> - Steve Jobs</blockquote>
    
    </div>
    </div>
    {% include footer.html %}
</body>

</html>
